body {
  background: rgb(31, 88, 186);
  background: linear-gradient(
    90deg,
    rgba(31, 88, 186, 1) 34%,
    rgba(105, 206, 255, 1) 71%
  );
}
.container {
  display: flex;
  justify-content: center;
}
.container-formulario {
  margin-top: 10%;
  background-color: #1d3557;
  display: flex;
  border-radius: 10px;
  flex-direction: column;
  height: 400px;
  width: 230px;
}

#title {
  margin-top: 3em;
  display: flex;
  justify-content: center;
}
h1 {
  font-family: "Raleway", sans-serif;
}
#title .penio {
  color: #ffffff;
}
#title .card {
  color: #457b9d;
}
#container-login {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.input-login {
  border-radius: 5px;
  border: none;
  display: flex;
  width: 170px;
  height: 25px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0.5rem;
  align-items: center;
  justify-content: center;
  background: rgb(31, 144, 186);
  background: linear-gradient(
    90deg,
    rgba(31, 144, 186, 1) 28%,
    rgba(42, 94, 143, 1) 73%
  );
  outline: none;
}
.input-login::placeholder {
  color: #ffffff;
}
.btn {
  color: #ffffff;
  width: 140px;
}
.btn:hover {
  cursor: pointer;
  width: 142px;
}
footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 5px;
}
.link-login {
  color: #ffffff;
  font-size: 12px;
  margin-top: 10px;
  text-decoration: none;
}
.link-login:visited {
  color: #ffffff;
  text-decoration: #1d3557;
}
#icon{
  position: absolute;
  right: 43.7%;
  top: 48%;
  transform: translateY(-50%);
  background-image: url(./image/view.png);
  background-size: cover;
  width: 20px;
  height: 20px;
  cursor: pointer;
}
#icon.hiden{
  background-image: url(./image/hide.png);
  background-size: cover;
}